 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
      }

      header {
        background-color: #ffffff;
        color: #fff;
        padding: 20px;
        text-align: center;
      }

      header h1 {
        margin: 0;
        color: black;
      }

      .hero-section {
        background-image: url('./hero-bg.jpg');
        background-size: center;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .hero-section h2 {
        color: #fff;
        font-size: 36px;
        text-align: center;
        margin: 0;
      }

      .product-section {
        padding: 40px;
        text-align: center;
      }

      .product-section h3 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #ffffff;
      }

      .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-top: 40px;
      }

      .product-card {
        background-color: #fff;
        padding: 20px;
        text-align: center;
      }

      .product-card img {
        width: 50%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 20px;
      }

      .product-card h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .product-card p {
        font-size: 14px;
        color: #888;
        margin-bottom: 10px;
      }

      .product-card .price {
        font-size: 18px;
        font-weight: bold;
      }

      iframe{
        width: 100vw;
      }
